{% unless template == 'index' or template == 'list-collections' or template == '404' %}
  {% assign t = template | split: '.' | first %}
  <ol class="breadcrumb justify-content-center mb-0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    {% case t %}
      {% when 'page' %}
        <li class="breadcrumb-item active text-white">
          {{ page.title }}
        </li>
      {% when 'product' %}
        {% if collection.url %}
          <li class="breadcrumb-item active text-white">
            {{ collection.title }}
          </li>
        {% endif %}
        <li class="breadcrumb-item active text-white">
          {{ product.title }}
        </li>
      {% when 'collection' and collection.handle %}
        {% if current_tags %}
          <li class="breadcrumb-item active text-white">{{ collection.title | link_to: collection.url }}</li>
          <li class="breadcrumb-item active text-white">
            {% capture tag_url %}{{ collection.url }}/{{ current_tags | join: "+"}}{% endcapture %}
            {{ current_tags | join: ' + ' }}
          </li>
        {% else %}
          <li class="breadcrumb-item active text-white">
            {{ collection.title }}
          </li>
        {% endif %}

      {% when 'blog' %}
        {% if current_tags %}
          <li class="breadcrumb-item">{{ blog.title | link_to: blog.url }}</li>
          <li class="breadcrumb-item">
            {% capture tag_url %}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{% endcapture %}
            <a href="{{ tag_url }}" aria-current="page">{{ current_tags | join: ' + ' }}</a>
          </li>
        {% else %}
          <li class="breadcrumb-item">
            {{ blog.title }}
          </li>
        {% endif %}

      {% when 'article' %}
        <li class="breadcrumb-item">{{ blog.title | link_to: blog.url }}</li>
        <li class="breadcrumb-item">
          {{ article.title }}
        </li>
      {% else %}
        <li aria-current="page" class="breadcrumb-item">
          {{ page_title }}
        </li>
    {% endcase %}
  </ol>
{% endunless %}
