{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}

<div class="collapse navbar-collapse bg-white" id="navbarCollapse">
  <div class="navbar-nav mx-auto">
    {%- for link in section.settings.menu.links -%}
      {% if link.links.size > 0 %}
        <div class="nav-link dropdown-toggle">
          <a href="{{- link.url | escape -}}" class="nav-item nav-link">{{- link.title | escape -}}</a>
          <div class="dropdown-menu m-0 bg-secondary rounded-0">
            {%- for childlink in link.links -%}
              <a href="{{- childlink.url | escape -}}" class="dropdown-item">{{ childlink.title | escape }}</a>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <a href="index.html" class="nav-item nav-link">{{- link.title | escape -}}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>
