{% assign product_form_id = 'quick-add-' | append: section.id | append: product.id %}
{% assign quick_add = 'standard' %}
{% if quick_add == 'standard' %}
  <div class="quick-add no-js-hidden">
    {%- liquid
      assign qty_rules = false
      if product.selected_or_first_available_variant.quantity_rule.min > 1 or product.selected_or_first_available_variant.quantity_rule.max != null or product.selected_or_first_available_variant.quantity_rule.increment > 1
        assign qty_rules = true
      endif
    -%}
    {%- if product.variants.size > 1 or qty_rules -%}
      <modal-opener data-modal="#QuickAdd-{{ product.id }}">
        <button
          id="{{ product_form_id }}-submit"
          type="submit"
          name="add"
          class="btn border border-secondary rounded-pill px-3 text-primary"
          aria-haspopup="dialog"
          aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ product.id }}"
          data-product-url="{{ product.url }}"
        >
          {{ 'products.product.choose_options' | t }}
          {%- render 'loading-spinner' -%}
        </button>
      </modal-opener>
      <quick-add-modal id="QuickAdd-{{ product.id }}" class="quick-add-modal">
        <div
          role="dialog"
          aria-label="{{ 'products.product.choose_product_options' | t: product_name: product.title | escape }}"
          aria-modal="true"
          class="quick-add-modal__content global-settings-popup"
          tabindex="-1"
        >
          <button
            id="ModalClose-{{ product.id }}"
            type="button"
            class="quick-add-modal__toggle"
            aria-label="{{ 'accessibility.close' | t }}"
          >
            {% render 'icon-close' %}
          </button>
          <div
            id="QuickAddInfo-{{ product.id }}"
            class="quick-add-modal__content-info"
          ></div>
        </div>
      </quick-add-modal>
    {%- else -%}
      <product-form data-section-id="{{ section.id }}">
        {%- form 'product',
          product,
          id: product_form_id,
          class: 'form',
          novalidate: 'novalidate',
          data-type: 'add-to-cart-form'
        -%}
          <input
            type="hidden"
            name="id"
            value="{{ product.selected_or_first_available_variant.id }}"
            class="product-variant-id"
            {% if product.selected_or_first_available_variant.available == false %}
              disabled
            {% endif %}
          >
          <button
            id="{{ product_form_id }}-submit"
            type="submit"
            name="add"
            class="btn border border-secondary rounded-pill px-3 text-primary"
            aria-haspopup="dialog"
            aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ product.id }}"
            aria-live="polite"
            data-sold-out-message="true"
            {% if product.selected_or_first_available_variant.available == false %}
              disabled
            {% endif %}
          >
            <i class="fa fa-shopping-bag me-2 text-primary"></i>
            <span>
              {%- if product.selected_or_first_available_variant.available -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- else -%}
                {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            </span>
            <span class="sold-out-message hidden">
              {{ 'products.product.sold_out' | t }}
            </span>
            {%- render 'loading-spinner' -%}
          </button>
        {%- endform -%}
      </product-form>
    {%- endif -%}
  </div>
{% endif %}
