<!-- Bestsaler Product Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    {% assign collection = collections[section.settings.product_collection] %}
    <div class="text-center mx-auto mb-5" style="max-width: 700px;">
      <h1 class="display-4">{{ collection.title }}</h1>
      <p>{{ collection.description }}</p>
    </div>
    <div class="row g-4">
      {% for product in collection.products %}
        {% if forloop.index <= 6 %}
          <div class="col-lg-6 col-xl-4">
            <div class="p-4 rounded bg-light">
              <div class="row align-items-center">
                <div class="col-6">
                  <img
                    src="{{ product.featured_image | img_url: 'medium' }}"
                    class="img-fluid rounded-circle w-100"
                    alt="{{ product.title }} "
                    width="1200"
                    height="1200"
                  >
                </div>
                <div class="col-6">
                  <a href="{{ product.url }}" class="h5">{{ product.title }}</a>
                  <div class="d-flex my-3">
                    <div class="jdgm-widget jdgm-preview-badge" data-id="{{ product.id }}">
                      {{ product.metafields.judgeme.badge }}
                    </div>
                  </div>
                  <h4 class="mb-3">{{ product.price | money }}</h4>
                  <a
                    onclick="addToCart({{ product.selected_or_first_available_variant.id }})"
                    class="btn border border-secondary rounded-pill px-3 text-primary"
                    ><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="text-center">
              <img
                src="{{ product.featured_image | img_url: 'medium' }}"
                class="img-fluid rounded"
                alt="{{ product.title }} "
                width="1200"
                height="1200"
              >
              {%- if product.featured_media -%}
                <div class="fruite-img card__media{% if image_shape and image_shape != 'default' %} shape--{{ image_shape }} color-{{ settings.card_color_scheme }} gradient{% endif %}">
                  <div class="media media--transparent media--hover-effect">
                    {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                    <img
                      srcset="
                        {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                        {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                        {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                        {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                        {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                        {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
                      "
                      src="{{ product.featured_media | image_url: width: 533 }}"
                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                      alt="{{ product.featured_media.alt | escape }}"
                      class="motion-reduce img-fluid w-100 rounded-top"
                      {% unless lazy_load == false %}
                        loading="lazy"
                      {% endunless %}
                      width="{{ product.featured_media.width }}"
                      height="{{ product.featured_media.height }}"
                    >
                    {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

                    {%- if product.media[1] != null and show_secondary_image -%}
                      <img
                        srcset="
                          {%- if product.media[1].width >= 165 -%}{{ product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                          {%- if product.media[1].width >= 360 -%}{{ product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                          {%- if product.media[1].width >= 533 -%}{{ product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                          {%- if product.media[1].width >= 720 -%}{{ product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                          {%- if product.media[1].width >= 940 -%}{{ product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                          {%- if product.media[1].width >= 1066 -%}{{ product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                          {{ product.media[1] | image_url }} {{ product.media[1].width }}w
                        "
                        src="{{ product.media[1] | image_url: width: 533 }}"
                        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                        alt=""
                        class="motion-reduce"
                        loading="lazy"
                        width="{{ product.media[1].width }}"
                        height="{{ product.media[1].height }}"
                      >
                    {%- endif -%}
                  </div>
                </div>
              {%- endif -%}
              <div class="py-4">
                <a href="{{ product.url }}" class="h5">{{ product.title }}</a>
                <div class="d-flex my-3 justify-content-center">
                  <div class="jdgm-widget jdgm-preview-badge" data-id="{{ product.id }}">
                    {{ product.metafields.judgeme.badge }}
                  </div>
                </div>
                <h4 class="mb-3">{{ product.price | money }}</h4>
                <a
                  onclick="addToCart({{ product.selected_or_first_available_variant.id }})"
                  class="btn border border-secondary rounded-pill px-3 text-primary"
                  ><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a
                >
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<!-- Bestsaler Product End -->

{% schema %}
{
  "name": "Bestseller Products",
  "settings": [
    {
      "type": "collection",
      "id": "product_collection",
      "label": "Product Collection"
    }
  ]
}
{% endschema %}
