<!-- Bestsaler Product Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    {% assign collection = collections[section.settings.product_collection] %}
    <div class="text-center mx-auto mb-5" style="max-width: 700px;">
      <h1 class="display-4">{{ collection.title }}</h1>
      <p>{{ collection.description }}</p>
    </div>
    <div class="row g-4">
      {% for product in collection.products %}
        {% if forloop.index <= 6 %}
          <div class="col-lg-6 col-xl-4">
            <div class="p-4 rounded bg-light">
              <div class="row align-items-center">
                <div class="col-6">
                  <img
                    src="{{ product.featured_image | img_url: 'medium' }}"
                    class="img-fluid rounded-circle w-100"
                    alt="{{ product.title }} "
                    width="1200"
                    height="1200"
                  >
                </div>
                <div class="col-6">
                  <a href="{{ product.url }}" class="h5">{{ product.title }}</a>
                  {% if product.metafields.custom.rating != blank %}
                    {{ 'test' }}
                  {% endif %}
                  <div class="d-flex my-3">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <h4 class="mb-3">{{ product.price | money }}</h4>
                  <a
                    onclick="addToCart({{ product.selected_or_first_available_variant.id }})"
                    class="btn border border-secondary rounded-pill px-3 text-primary"
                    ><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="text-center">
              <img
                src="{{ product.featured_image | img_url: 'medium' }}"
                class="img-fluid rounded"
                alt="{{ product.title }} "
                width="1200"
                height="1200"
              >
              <div class="py-4">
                <a href="{{ product.url }}" class="h5">{{ product.title }}</a>
                {% if product.metafields.custom.rating != blank %}
                  {% assign rating = product.metafields.custom.rating %}
                  {% assign scale_min = rating | split: 'scale_min":"' | last | split: '"' | first %}
                  {% assign scale_max = rating | split: 'scale_max":"' | last | split: '"' | first %}
                  {% assign value = rating | split: 'value":"' | last | split: '"' | first %}
                  {{ value }}
                  {{ scale_min }}
                  {{ scale_max }}
                  {% comment %}
                    {% assign rating = 5 %}
                    {% for i in (1..rating) %}
                      <i class="fas fa-star text-primary"></i>
                    {% endfor %}
                  {% endcomment %}
                {% endif %}
                <div class="d-flex my-3 justify-content-center">
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4 class="mb-3">{{ product.price | money }}</h4>
                <a
                  onclick="addToCart({{ product.selected_or_first_available_variant.id }})"
                  class="btn border border-secondary rounded-pill px-3 text-primary"
                  ><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a
                >
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<!-- Bestsaler Product End -->

{% schema %}
{
  "name": "Bestseller Products",
  "settings": [
    {
      "type": "collection",
      "id": "product_collection",
      "label": "Product Collection"
    }
  ]
}
{% endschema %}
