<div class="container-fluid py-5 mb-5 hero-header">
  <div class="container py-5">
    <div class="row g-5 align-items-center">
      <div class="col-md-12 col-lg-7">
        <h4 class="mb-3 text-secondary">{{ section.settings.banner_header }}</h4>
        <h1 class="mb-5 display-3 text-primary">{{ section.settings.banner_content }}</h1>
        <div class="position-relative mx-auto">
          <form onsubmit="get_action(this);" action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
            <div class="">
              <input
                class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill"
                id="{{ input_id }}"
                type="text"
                name="q"
                value="{{ search.terms | escape }}"
                placeholder="Search"
              >
              <input type="hidden" name="options[prefix]" value="last">
              <button
                type="submit"
                class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100"
                style="top: 0; right: 25%;"
              >
                Submit Now
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-12 col-lg-5">
        <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
          <div class="carousel-inner" role="listbox">
            {% for block in section.blocks %}
              {% if forloop.index == 1 %}
                <div class="carousel-item active rounded">
                  <img
                    src="{{ block.settings.slider_image | img_url: 'master' }}"
                    class="img-fluid w-100 h-100 bg-secondary rounded"
                    alt=""
                    width="1200"
                    height="1200"
                  >
                  <a href="{{ block.settings.slider_url }}" class="btn px-4 py-2 text-white rounded">
                    {{- block.settings.button_text -}}
                  </a>
                </div>
              {% else %}
                <div class="carousel-item rounded">
                  <img
                    src="{{ block.settings.slider_image | img_url: 'master' }}"
                    class="img-fluid w-100 h-100 bg-secondary rounded"
                    alt=""
                    width="1200"
                    height="1200"
                  >
                  <a href="{{ block.settings.slider_url }}" class="btn px-4 py-2 text-white rounded">
                    {{- block.settings.button_text -}}
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function get_action('/search') {
      form.action = form_action;
  }
</script>
{% schema %}
{
  "name": "homepage-banner",
  "settings": [
    {
      "type": "text",
      "id": "banner_header",
      "label": "Banner Header"
    },
    {
      "type": "text",
      "id": "banner_content",
      "label": "Banner Content"
    }
  ],
  "blocks": [
    {
      "type": "homepage_banner_slider",
      "name": "Homepage Banner Slider",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "slider_image",
          "label": "Select Slider"
        },
        {
          "type": "url",
          "id": "slider_url",
          "label": "Banner Url"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        }
      ]
    }
  ]
}
{% endschema %}
