{% if section.blocks != blank %}
  <div class="container-fluid fruite py-5">
    <div class="container py-5">
      <div class="tab-class text-center">
        <div class="row g-4">
          <div class="col-lg-4 text-start">
            <h1>Our Organic Products</h1>
          </div>
          <div class="col-lg-8 text-end">
            <ul class="nav nav-pills d-inline-flex text-center mb-5">
              {% for block in section.blocks %}
                {% if forloop.index == 1 %}
                  <li class="nav-item">
                    <a
                      class="d-flex m-2 py-2 bg-light rounded-pill active"
                      data-bs-toggle="pill"
                      href="#tab-{{ forloop.index }}"
                    >
                      <span class="text-dark" style="width: 130px;">{{ block.settings.product_collection.title }}</span>
                    </a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a
                      class="d-flex m-2 py-2 bg-light rounded-pill"
                      data-bs-toggle="pill"
                      href="#tab-{{forloop.index}}"
                    >
                      <span class="text-dark" style="width: 130px;">{{ block.settings.product_collection.title }}</span>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="tab-content">
          {% for block in section.blocks %}
            {% if forloop.index == 1 %}
              <div id="tab-{{forloop.index}}" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                  <div class="col-lg-12">
                    <div class="row g-4">
                      {% assign collection = collections[block.settings.product_collection.handle] %}
                      {% for product in collection.products %}
                        <div class="col-md-6 col-lg-4 col-xl-3">
                          <div class="rounded position-relative fruite-item">
                            <div class="fruite-img">
                              {% for image in product.images %}
                                <img
                                  src="{{ image.src | img_url: 'master' }}"
                                  class="img-fluid w-100 rounded-top"
                                  alt=""
                                  width="1200"
                                  height="1200"
                                >
                              {% endfor %}
                              {%- if product.featured_media -%}
                                <div class="fruite-img card__media{% if image_shape and image_shape != 'default' %} shape--{{ image_shape }} color-{{ settings.card_color_scheme }} gradient{% endif %}">
                                  <div class="media media--transparent media--hover-effect">
                                    {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                                    <img
                                      srcset="
                                        {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                                        {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                                        {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                                        {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                                        {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                                        {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                                        {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
                                      "
                                      src="{{ product.featured_media | image_url: width: 533 }}"
                                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                      alt="{{ product.featured_media.alt | escape }}"
                                      class="motion-reduce img-fluid w-100 rounded-top"
                                      {% unless lazy_load == false %}
                                        loading="lazy"
                                      {% endunless %}
                                      width="{{ product.featured_media.width }}"
                                      height="{{ product.featured_media.height }}"
                                    >
                                    {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

                                    {%- if product.media[1] != null and show_secondary_image -%}
                                      <img
                                        srcset="
                                          {%- if product.media[1].width >= 165 -%}{{ product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                                          {%- if product.media[1].width >= 360 -%}{{ product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                                          {%- if product.media[1].width >= 533 -%}{{ product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                                          {%- if product.media[1].width >= 720 -%}{{ product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                                          {%- if product.media[1].width >= 940 -%}{{ product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                                          {%- if product.media[1].width >= 1066 -%}{{ product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                                          {{ product.media[1] | image_url }} {{ product.media[1].width }}w
                                        "
                                        src="{{ product.media[1] | image_url: width: 533 }}"
                                        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                        alt=""
                                        class="motion-reduce"
                                        loading="lazy"
                                        width="{{ product.media[1].width }}"
                                        height="{{ product.media[1].height }}"
                                      >
                                    {%- endif -%}
                                  </div>
                                </div>
                              {%- endif -%}
                            </div>
                            <div
                              class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                              style="top: 10px; left: 10px;"
                            >
                              {{ product.tags }}
                            </div>
                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                              <a href="{{ product.url }}">
                                <h4>{{ product.title }}</h4>
                              </a>
                              <p>{{ product.description }}</p>
                              <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fs-5 fw-bold mb-0">{{ product.price | money }} / kg</p>
                                <a
                                  onclick="addToCart({{ product.selected_or_first_available_variant.id }})"
                                  class="btn border border-secondary rounded-pill px-3 text-primary"
                                  ><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
              <div id="tab-{{forloop.index}}" class="tab-pane fade show p-0">
                <div class="row g-4">
                  <div class="col-lg-12">
                    <div class="row g-4">
                      {% assign collection = collections[block.settings.product_collection.handle] %}
                      {% for product in collection.products %}
                        <div class="col-md-6 col-lg-4 col-xl-3">
                          <div class="rounded position-relative fruite-item">
                            <div class="fruite-img">
                              {% for image in product.images %}
                                <img
                                  src="{{ image.src | img_url: 'master' }}"
                                  class="img-fluid w-100 rounded-top"
                                  alt=""
                                  height="1200"
                                  width="1200"
                                >
                              {% endfor %}
                              {%- if product.featured_media -%}
                                <div class="fruite-img card__media{% if image_shape and image_shape != 'default' %} shape--{{ image_shape }} color-{{ settings.card_color_scheme }} gradient{% endif %}">
                                  <div class="media media--transparent media--hover-effect">
                                    {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                                    <img
                                      srcset="
                                        {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                                        {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                                        {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                                        {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                                        {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                                        {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                                        {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
                                      "
                                      src="{{ product.featured_media | image_url: width: 533 }}"
                                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                      alt="{{ product.featured_media.alt | escape }}"
                                      class="motion-reduce img-fluid w-100 rounded-top"
                                      {% unless lazy_load == false %}
                                        loading="lazy"
                                      {% endunless %}
                                      width="{{ product.featured_media.width }}"
                                      height="{{ product.featured_media.height }}"
                                    >
                                    {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

                                    {%- if product.media[1] != null and show_secondary_image -%}
                                      <img
                                        srcset="
                                          {%- if product.media[1].width >= 165 -%}{{ product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                                          {%- if product.media[1].width >= 360 -%}{{ product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                                          {%- if product.media[1].width >= 533 -%}{{ product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                                          {%- if product.media[1].width >= 720 -%}{{ product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                                          {%- if product.media[1].width >= 940 -%}{{ product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                                          {%- if product.media[1].width >= 1066 -%}{{ product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                                          {{ product.media[1] | image_url }} {{ product.media[1].width }}w
                                        "
                                        src="{{ product.media[1] | image_url: width: 533 }}"
                                        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                        alt=""
                                        class="motion-reduce"
                                        loading="lazy"
                                        width="{{ product.media[1].width }}"
                                        height="{{ product.media[1].height }}"
                                      >
                                    {%- endif -%}
                                  </div>
                                </div>
                              {%- endif -%}
                            </div>
                            <div
                              class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                              style="top: 10px; left: 10px;"
                            >
                              {{ product.tags }}
                            </div>
                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                              <a href="{{ product.url }}">
                                <h4>{{ product.title }}</h4>
                              </a>
                              <p>{{ product.description }}</p>
                              <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fs-5 fw-bold mb-0">{{ product.price | money }} / kg</p>
                                <a
                                  onclick="addToCart({{ product.selected_or_first_available_variant.id }})"
                                  class="btn border border-secondary rounded-pill px-3 text-primary"
                                  ><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Product Collection",
  "blocks": [
    {
      "type": "product_collection",
      "name": "Select Product Collection",
      "limit": 6,
      "settings": [
        {
          "type": "collection",
          "id": "product_collection",
          "label": "Product Collection"
        }
      ]
    }
  ]
}
{% endschema %}
