<div class="col-lg-12" id="products_tabs_content">
  <nav>
    <div class="nav nav-tabs mb-3">
      <button
        class="nav-link active border-white border-bottom-0"
        type="button"
        role="tab"
        id="nav-about-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-about"
        aria-controls="nav-about"
        aria-selected="true"
      >
        Description
      </button>
    </div>
  </nav>
  <div class="tab-content mb-5">
    <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
      {% if product.metafields.custom.long_description != blank %}
        {{ product.metafields.custom.long_description | metafield_tag }}
      {% else %}
        {{ product.description }}
      {% endif %}
      <div class="px-2">
        <div class="row g-4">
          <div class="col-6">
            <div class="row bg-light align-items-center text-center justify-content-center py-2">
              <div class="col-6">
                <p class="mb-0">Weight</p>
              </div>
              <div class="col-6">
                <p class="mb-0">
                  {{ product.variants.first.weight_in_unit }}
                  {{ product.variants.first.weight_unit }}
                </p>
              </div>
            </div>
            {% assign json_string = product.metafields.custom.product_additional_information.value | json %}
            {%- assign key_value_pairs = json_string | replace: '{', '' | replace: '}', '' | split: ',' -%}

            {%- assign json_array = '' -%}
            {%- for pair in key_value_pairs -%}
              {%- assign key_value = pair | split: ':' -%}
              {%- assign key = key_value[0] | replace: '"', '' | strip -%}
              {%- assign val = key_value[1] | replace: '"', '' | strip -%}

              {%- assign json_array = json_array | append: key | append: ':' | append: val | append: ',' -%}
            {%- endfor -%}

            {%- assign json_array = json_array | split: ',' -%}
            {%- for item in json_array -%}
              {%- assign key_val = item | split: ':' -%}
              {%- assign key = key_val[0] -%}
              {%- assign val = key_val[1] -%}
              {%- if key and val -%}
                {% assign num = forloop.index | modulo: 2 %}
                {% if num == 0 %}
                  {% assign class = 'row bg-light align-items-center text-center justify-content-center py-2' %}
                {% else %}
                  {% assign class = 'row text-center align-items-center justify-content-center py-2' %}
                {% endif %}
                <div class="{{ class }}">
                  <div class="col-6">
                    <p class="mb-0">{{ key | camelcase }}</p>
                  </div>
                  <div class="col-6">
                    <p class="mb-0">
                      {{ val }}
                    </p>
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
    "name": "Product Tabs",
    "blocks": [
      {
        "type": "product_tabs",
        "name": "Add Product Tab",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "tab_label",
            "label": "Tab Label"
          },
          {
            "type": "liquid",
            "id": "tab_content",
            "label": "Tab Content"
          }
        ]
      }
    ]
  }
{% endschema %}